{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-env"
  ],
  "plugins": [
    "transform-class-properties",
    ["prismjs", {
      "languages": ["bash", "javascript", "php", "go", "ruby", "ocaml", "ruby", "java", "python", "swift", "csharp"]
    }]
  ]
}
